<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.17.2.31801" newVersion="3.17.2.31801" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory.Platform" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.17.2.31801" newVersion="3.17.2.31801" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="ServiceBusConnectionString" value="Endpoint=sb://giisvcbus.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=eG3KX9b0xdMEs3XmtfZ4Tk1Fu2P1gi4DaSsfdja1d40=" />
    <add key="QueueName" value="giiservicetrigger" />
    <add key="GIICountryReportsPath" value="C:\GIICountryBriefReports" />
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=giifilestorage;AccountKey=9QEYYGzoW31wGrxC/Y44q6Lt8dxWK4laXGbXnQEulub1y58PNp+O2y0Xor/816m55PFJ+UxgzkT12w1nzZ+bWw==;EndpointSuffix=core.windows.net" />
    <add key="FileShareReference" value="giifiles" />
  </appSettings>
  
</configuration>
