<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.17.2.31801" newVersion="3.17.2.31801" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory.Platform" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.17.2.31801" newVersion="3.17.2.31801" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="ServiceBusConnectionString" value="Endpoint=sb://servicebusmsn.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=1CaoJ1zmCjD66TtcvTCcc87aK5gAEbbLByKEr4lyaVk=" />
    <add key="QueueName" value="giiservicetrigger" />
    <add key="wbkRanking" value="C:\Excel\Ranking Tables_rev_jul3.xlsx" />
    <add key="wbkGII" value="C:\Excel\GII 2018 BASE MODEL Country Profiles Data Tables (12-4-2018).xlsm" />
    <add key="wbkIncomeRegion" value="C:\Excel\Graphs_country_briefs_GII-2018_5_6_2018.xlsx" />
    <add key="wbkInovationPerformance" value="C:\Excel\FINAL Bubble Chart GII 2018 Regional presentations (7-27-2018) 1439hrs.xlsm" />
    <add key="wbkMissingOutdated" value="C:\Excel\GII 2018 Missing &amp; Outdated data (2-7-2019).xlsm" />
    <add key="wordTemplatePath" value="C:\Excel\GIICountryBriefTemplate.docx" />
    <add key="GIICountryReportsPath" value="C:\GIICountryReports\" />
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=giifilestorage;AccountKey=9QEYYGzoW31wGrxC/Y44q6Lt8dxWK4laXGbXnQEulub1y58PNp+O2y0Xor/816m55PFJ+UxgzkT12w1nzZ+bWw==;EndpointSuffix=core.windows.net" />
    <add key="FileShareReference" value="giifiles" />
  </appSettings>
  
</configuration>
